.chat-window {
    display: flex; /* 使用 Flexbox 佈局 */
    flex-direction: column; /* 將子元素垂直排列 */
    align-items: flex-end; 
    width: 50%; /* 寬度 */
    height: 300px;
    overflow-y: auto;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .message {
    max-width: 80%; /* 最大寬度 */
    color: black; /* 文字顏色 */
    border-radius: 8px;
    padding: 8px 12px;
    margin: 4px;
  }
  
  .user-message {
    text-align: right;
    background-color: #F0F4F6; /* 背景顏色 */
  }
  
  .bot-message {
    position:relative;
    left:-100px;
  }

  .w {
    position:relative;
    left:-580px;
  }